.lj-avatar-stack {
  display: inline-flex; align-items: center;
  &__item {
    display: inline-block;
    + .lj-avatar-stack__item { margin-left: -10px; }
    .lj-avatar { box-shadow: 0 0 0 2px #fff; }
  }
  &--sm .lj-avatar-stack__item + .lj-avatar-stack__item { margin-left: -8px; }
  &--lg .lj-avatar-stack__item + .lj-avatar-stack__item { margin-left: -14px; }
}
