.lj-progress {
  position: relative;
  display: flex;
  width: 100%;
  background: #e5e7eb;
  overflow: hidden;

  &--rounded { border-radius: var(--radius-rounded); }
  &__segment { display: block; height: 100%; transition: width var(--animation-duration-fast); }
  &__label { position: absolute; right: var(--spacing-2); top: 50%; transform: translateY(-50%); font-size: var(--font-size-xxs); font-weight: var(--font-weight-semi-bold); color: #374151; }
}
